<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Component
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
  <ion-segment value="all">
    <ion-segment-button value="all">
      <ion-label>SELECT</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-label>TOOGGLE</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item>
      <ion-select aria-label="Fruit" interface="popover" placeholder="Select fruit">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-toggle [enableOnOffLabels]="true" color="pink">click</ion-toggle>
  </ion-item>

  <ion-button expand="block" (click)="presentToast('bottom')" color="pink">click</ion-button>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="globe"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
